.DS_Store
.idea/
.vscode/

.env
.env.*
!.env.example
*.crt
*.key
*.pem

__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.uv-cache/
.venv/
build/
dist/
htmlcov/
.coverage
coverage.xml

ai-chat.md
info.md
